@model MvcMusicStore_v1._0.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Artist</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        @Html.ActionLink("Back to Albuns","Index","Album",null, new {@class="btn btn-primary"})
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
