@using System.Web.Mvc

@using System.Web.Services.Description
@model IEnumerable<TourAgency.Models.GuestsOnLegs>



<div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
        <div class="modal-header text-right">
            <button class="btn btn-danger" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <br />
            <h2 class="modal-title text-center" id="GuestListLabel"><b>Guests List</b></h2>
        </div>
        <div class="row">
            <div class="modal-body">

                <div class="col-md-6" style="float: left; width: 350px; overflow-y: auto; height: 350px;">
                    <div>
                        <h3 class="text-center"><b>Guests on this Leg</b></h3>
                    </div>

                    <table class="table table-striped table-hover">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <h4>@Html.DisplayFor(modelItem => item.guest.Name)</h4>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <h5>(Choose an option to add a Guest to this Leg)</h5>
                        <h4>@Ajax.ActionLink("Add Existing Guest", "Create", "GuestsOnLegs", new { legId = 1 }, new AjaxOptions { UpdateTargetId = "addGuest" })</h4>
                        <div id="addGuest"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            @*<button type="button" class="btn btn-primary">Save changes</button>*@
        </div>
    </div>
</div>

